# Dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# Build output
/dist
/frontend/dist
/backend/dist

# Environment variables
.env
.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# IDE and OS files
.vscode
.DS_Store